.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.summer {
  background-image: linear-gradient(to bottom, #ffff1c, #d6f90b, #abf20f, #79ea20, #31e131);
}

.winter {
  background-image: linear-gradient(to bottom, #e4e7e7, #c8e9eb, #a8ebef, #80ecf6, #40edfd);
}

.season-display.summer i {
  color: orange;
}

.season-display.winter i {
  color: #40edfd;
}

.icon-left {
  position: absolute;
  top: 1em;
  left: 1em;
}

.icon-right {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
